
__pycache__/
.venv/
components/tokens.py
components/analisis.py
components/charts.py
components/database.py
components/pruebas.py
assets/bds.bd
assets/bds.db
docs/
data/database.db
data/database_byd.db
data/bds.bd
data/EC_database.db
data/